<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="utf-8">

<center>
    <h1>Hello, world! Это список репозиториев по ключевому слову Bottle:</h1>
    
    <div id="list_of_reps"></div>
</center> 

<script defer>
window.onload = function() {
    fetch("https://api.github.com/search/repositories?q=bottlepy")
        .then( text => text.json() )
        .then( json => {
            var lst = document.querySelector("#list_of_reps");  
            for(var i = 0; i < json.items.length; i++){
                lst.innerHTML += `
                    <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue w3-margin-right	w3-margin-left">
                      <h3> ${json.items[i].name} </h3>
                    </div>`;
            }
        });
}        
</script>